@import 'variables.less';
html { 
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    
  body{
        margin: 0 auto;
        max-width: 800px;
        .section1 {
            display: flex;
            padding-top:20px;
            @media @mobile {
                flex-direction: column-reverse;
                text-align: center;
            }
        }
            .image1 {
                width: 350px;
                height: 350px;
                border-radius: 50%;
            }
        .section2 {
            display: flex;
            border-bottom: dashed black;
            padding-bottom: 20px;
            padding-top: 20px;
            @media @mobile {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .image2 {
                width: 350px;
                height: 350px;
                border-radius: 50%;
            }
        }
        .section3 {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            border-bottom: dashed black;
            @media @mobile {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .image3 {
                 width: 350px;
                 height: 350px;
                 border-radius: 15px 50px;
                }
            .text-section3 {
                a {
                    color: black;
                }
            
            }
        }
        .section4 {
            display: flex;
            @media @mobile {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .artifact-logos {
                font-size: 180px;
                color: black;
                i {
                    color: black;
                }
            }
        }
        .footer{
            text-align: center;
        }
    }
}
